body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    /*background-color: #121212; Затемняем фон */
}

header {
    color: #fff;
    padding: 0px 10px;
    text-align: left;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: space-between;
    flex-direction: row;
}

header a{
    margin: 50;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.navmenu{
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.header-text {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex: 1;
}

.hero-section {
    height: calc(100vh - 80px); 
    background-image: url('images/back.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero-section::before {
    content: "";
    background-image: url('images/back.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1; 
}

.download-btn {
    background-color: #3CB371;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}
.download-btn {
    position: absolute;
    background-color: #B22222;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: -85px;
    margin-left: 65px;
}

.buy-button {
    background-color: #3CB371;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.buy-button-container {
    position: relative;
}

.buy-button {
    background-color: #B22222;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: -20px;
}

.price-button {
    position: absolute;
    background-color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 120px;
}

#green{
	color: #2E8B57;
}

.buy-button:hover{
    background-color: #92000A;
}
.download-btn:hover{
    background-color: #92000A;
}

main {
     width: 100%;
}

/* Стили для второго блока */

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color: #121212;
    text-align: center;
    color: #fff;
}

.feature {
    text-align: center;
    color: #fff;
}

.feature img {
    width: 100px;
    border-radius: 20%; 
    text-align: center;
}
.feauture h2 {
    color: #fff;
}

.presentation {
    background: url("images/back2.jpg");
    /* background-color: #181818; */
    text-align: center;
    padding: 20px 0;
    padding-bottom: 50px;
}

.presentation h2 {
    color: #fff;
}

.video-container {
    position: relative;
    margin-left: -80%;
    width: 1280px; 
    height: 720px;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

.updc{
    text-align: center;
    color: #fff;
    padding-top: 6px;
}

.updates-history{
    background-color: #121212;
    padding-bottom: 20px;
}

.updatemess{
    margin-left: 40px;
}

.updatemess h2{
    color: #fff;
}

.updatemess h3{
    color: #a9a9a9;
}

/*.updateblock{
     margin-left: 40px; 
}*/

.commblocks{
    margin-left: 40px;
    column-count: 3;
    column-fill: balance;
    padding-top: 20px;
}

.commblocks h2{
    color: #fff;
}

.commblocks h3{
    color: #a9a9a9;
    margin: 0;
}

